<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User #<%= @user.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/users" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/users/<%= @user.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit user
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @user.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @user.password %>
      </dd>

      <dt>
        Employer or school
      </dt>
      <dd>
        <%= @user.employer_or_school %>
      </dd>

      <dt>
        Linkedin url
      </dt>
      <dd>
        <%= @user.linkedin_url %>
      </dd>

      <dt>
        Sublessor status
      </dt>
      <dd>
        <%= @user.sublessor_status %>
      </dd>

      <dt>
        Sublessee status
      </dt>
      <dd>
        <%= @user.sublessee_status %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @user.bio %>
      </dd>

      <dt>
        First name
      </dt>
      <dd>
        <%= @user.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @user.last_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@user.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_photos" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_housing_listings" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_housing_likes" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_inquiries" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_bookings" %>
  </div>
</div>
