<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Inquiry #<%= @inquiry.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/inquiries" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/inquiries/<%= @inquiry.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit inquiry
        </a>
      </div>

      <div class="col">
        <a href="/delete_inquiry/<%= @inquiry.id %>" class="btn btn-block btn-outline-secondary">
          Delete inquiry
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Sublessee
      </dt>
      <dd>
        <% if @inquiry.sublessee.present? %>
          <a href="/users/<%= @inquiry.sublessee_id %>">
            <%= @inquiry.sublessee.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Sublessor
      </dt>
      <dd>
        <%= @inquiry.sublessor_id %>
      </dd>

      <dt>
        Housing
      </dt>
      <dd>
        <% if @inquiry.housing.present? %>
          <a href="/housing_listings/<%= @inquiry.housing_id %>">
            <%= @inquiry.housing.housing_type %>
          </a>
        <% end %>
      </dd>

      <dt>
        Inquiry details
      </dt>
      <dd>
        <%= @inquiry.inquiry_details %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@inquiry.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@inquiry.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

