<form action="/create_booking_from_housing_listing" method="post">

  <div class="form-group">
    <label for="sublessor_id">
      Sublessor
    </label>

    <input type="text" id="sublessor_id" name="sublessor_id" class="form-control" value="<%= @booking.sublessor_id %>">
  </div>

  <input type="hidden" name="sublessee_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="payment_method">
      Payment method
    </label>

    <input type="text" id="payment_method" name="payment_method" class="form-control" value="<%= @booking.payment_method %>">
  </div>

  <input type="hidden" name="housing_id" value="<%= @housing_listing.id %>">

  <div class="form-group">
    <label for="booking_details">
      Booking details
    </label>

    <input type="text" id="booking_details" name="booking_details" class="form-control" value="<%= @booking.booking_details %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create booking
  </button>
</form>
