<% if @housing_listing.errors.any? %>
  <% @housing_listing.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit housing listing #<%= @housing_listing.id %>
</h1>

<hr>

<form action="/update_housing_listing/<%= @housing_listing.id %>" method="post">

  <div class="form-group">
    <label for="housing_type">
      Housing type
    </label>

    <input type="text" id="housing_type" name="housing_type" class="form-control" value="<%= @housing_listing.housing_type %>">
  </div>

  <div class="form-group">
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" class="form-control" value="<%= @housing_listing.city %>">
  </div>

  <div class="form-group">
    <label for="neighborhood">
      Neighborhood
    </label>

    <input type="text" id="neighborhood" name="neighborhood" class="form-control" value="<%= @housing_listing.neighborhood %>">
  </div>

  <div class="form-group">
    <label for="number_of_guests">
      Number of guests
    </label>

    <input type="text" id="number_of_guests" name="number_of_guests" class="form-control" value="<%= @housing_listing.number_of_guests %>">
  </div>

  <div class="form-group">
    <label for="number_of_bedrooms">
      Number of bedrooms
    </label>

    <input type="text" id="number_of_bedrooms" name="number_of_bedrooms" class="form-control" value="<%= @housing_listing.number_of_bedrooms %>">
  </div>

  <div class="form-group">
    <label for="number_of_bathrooms">
      Number of bathrooms
    </label>

    <input type="text" id="number_of_bathrooms" name="number_of_bathrooms" class="form-control" value="<%= @housing_listing.number_of_bathrooms %>">
  </div>

  <div class="form-group">
    <label for="state">
      State
    </label>

    <input type="text" id="state" name="state" class="form-control" value="<%= @housing_listing.state %>">
  </div>

  <div class="form-group">
    <label for="country">
      Country
    </label>

    <input type="text" id="country" name="country" class="form-control" value="<%= @housing_listing.country %>">
  </div>

  <div class="form-group">
    <label for="amenities">
      Amenities
    </label>

    <input type="text" id="amenities" name="amenities" class="form-control" value="<%= @housing_listing.amenities %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @housing_listing.description %>">
  </div>

  <div class="form-group">
    <label for="monthly_price">
      Monthly price
    </label>

    <input type="text" id="monthly_price" name="monthly_price" class="form-control" value="<%= @housing_listing.monthly_price %>">
  </div>


  <div class="form-group">
    <label for="available_from">
      Available from
    </label>

    <input type="text" id="available_from" name="available_from" class="form-control" value="<%= @housing_listing.available_from %>">
  </div>

  <div class="form-group">
    <label for="available_till">
      Available till
    </label>

    <input type="text" id="available_till" name="available_till" class="form-control" value="<%= @housing_listing.available_till %>">
  </div>

  <div class="form-group">
    <label for="housing_photo_id">
      Housing photo
    </label>

    <input type="text" id="housing_photo_id" name="housing_photo_id" class="form-control" value="<%= @housing_listing.housing_photo_id %>">
  </div>

  <div class="form-group">
    <label for="sublessee_id">
      Sublessee
    </label>

    <input type="text" id="sublessee_id" name="sublessee_id" class="form-control" value="<%= @housing_listing.sublessee_id %>">
  </div>

  <div class="form-group">
    <label for="zip_code">
      Zip code
    </label>

    <input type="text" id="zip_code" name="zip_code" class="form-control" value="<%= @housing_listing.zip_code %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update housing listing
  </button>
</form>

<hr>

<a href="/housing_listings">
  Go back
</a>
