<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All housing listings
    </h1>

    <a href="/housing_listings/new" class="btn btn-block btn-outline-secondary">
      Add a new housing listing
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "housing_listing_templates/housing_listings_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Housing type
        </th>

        <th>
          City
        </th>

        <th>
          Neighborhood
        </th>

        <th>
          Number of guests
        </th>

        <th>
          Number of bedrooms
        </th>

        <th>
          Number of bathrooms
        </th>

        <th>
          State
        </th>

        <th>
          Country
        </th>

        <th>
          Amenities
        </th>

        <th>
          Description
        </th>

        <th>
          Monthly price
        </th>

        <th>
          Sublessor
        </th>

        <th>
          Available from
        </th>

        <th>
          Available till
        </th>

        <th>
          Housing photo
        </th>

        <th>
          Sublessee
        </th>

        <th>
          Zip code
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @housing_listings.each do |housing_listing| %>
      <tr>
        <td>
          <%= housing_listing.id %>
        </td>

        <td>
          <%= housing_listing.housing_type %>
        </td>

        <td>
          <%= housing_listing.city %>
        </td>

        <td>
          <%= housing_listing.neighborhood %>
        </td>

        <td>
          <%= housing_listing.number_of_guests %>
        </td>

        <td>
          <%= housing_listing.number_of_bedrooms %>
        </td>

        <td>
          <%= housing_listing.number_of_bathrooms %>
        </td>

        <td>
          <%= housing_listing.state %>
        </td>

        <td>
          <%= housing_listing.country %>
        </td>

        <td>
          <%= housing_listing.amenities %>
        </td>

        <td>
          <%= housing_listing.description %>
        </td>

        <td>
          <%= housing_listing.monthly_price %>
        </td>

        <td>
          <% if housing_listing.sublessor.present? %>
            <a href="/users/<%= housing_listing.sublessor.id %>">
              <%= housing_listing.sublessor.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= housing_listing.available_from %>
        </td>

        <td>
          <%= housing_listing.available_till %>
        </td>

        <td>
          <%= housing_listing.housing_photo_id %>
        </td>

        <td>
          <%= housing_listing.sublessee_id %>
        </td>

        <td>
          <%= housing_listing.zip_code %>
        </td>

        <td>
          <%= time_ago_in_words(housing_listing.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(housing_listing.updated_at) %> ago
        </td>

        <td>
          <a href="/housing_listings/<%= housing_listing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @housing_listings, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
