<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Housing listing #<%= @housing_listing.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/housing_listings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @housing_listing.sublessor %>
          <a href="/housing_listings/<%= @housing_listing.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit housing_listing
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @housing_listing.sublessor %>
          <a href="/delete_housing_listing/<%= @housing_listing.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete housing_listing
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Housing type
      </dt>
      <dd>
        <%= @housing_listing.housing_type %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @housing_listing.city %>
      </dd>

      <dt>
        Neighborhood
      </dt>
      <dd>
        <%= @housing_listing.neighborhood %>
      </dd>

      <dt>
        Number of guests
      </dt>
      <dd>
        <%= @housing_listing.number_of_guests %>
      </dd>

      <dt>
        Number of bedrooms
      </dt>
      <dd>
        <%= @housing_listing.number_of_bedrooms %>
      </dd>

      <dt>
        Number of bathrooms
      </dt>
      <dd>
        <%= @housing_listing.number_of_bathrooms %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @housing_listing.state %>
      </dd>

      <dt>
        Country
      </dt>
      <dd>
        <%= @housing_listing.country %>
      </dd>

      <dt>
        Amenities
      </dt>
      <dd>
        <%= @housing_listing.amenities %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @housing_listing.description %>
      </dd>

      <dt>
        Monthly price
      </dt>
      <dd>
        <%= @housing_listing.monthly_price %>
      </dd>

      <dt>
        Sublessor
      </dt>
      <dd>
        <% if @housing_listing.sublessor.present? %>
          <a href="/users/<%= @housing_listing.sublessor_id %>">
            <%= @housing_listing.sublessor.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Available from
      </dt>
      <dd>
        <%= @housing_listing.available_from %>
      </dd>

      <dt>
        Available till
      </dt>
      <dd>
        <%= @housing_listing.available_till %>
      </dd>

      <dt>
        Housing photo
      </dt>
      <dd>
        <%= @housing_listing.housing_photo_id %>
      </dd>

      <dt>
        Sublessee
      </dt>
      <dd>
        <%= @housing_listing.sublessee_id %>
      </dd>

      <dt>
        Zip code
      </dt>
      <dd>
        <%= @housing_listing.zip_code %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@housing_listing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@housing_listing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "housing_listing_templates/housing_listing_housing_likes" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "housing_listing_templates/housing_listing_inquiries" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "housing_listing_templates/housing_listing_bookings" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "housing_listing_templates/housing_listing_housing_photos" %>
  </div>
</div>
