<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All housing photos
    </h1>

    <a href="/housing_photos/new" class="btn btn-block btn-outline-secondary">
      Add a new housing photo
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "housing_photo_templates/housing_photos_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Photo caption
        </th>

        <th>
          Photo owner
        </th>

        <th>
          Housing
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @housing_photos.each do |housing_photo| %>
      <tr>
        <td>
          <%= housing_photo.id %>
        </td>

        <td>
          <%= housing_photo.photo_caption %>
        </td>

        <td>
          <% if housing_photo.photo_owner.present? %>
            <a href="/users/<%= housing_photo.photo_owner.id %>">
              <%= housing_photo.photo_owner.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if housing_photo.housing.present? %>
            <a href="/housing_listings/<%= housing_photo.housing.id %>">
              <%= housing_photo.housing.housing_type %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(housing_photo.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(housing_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/housing_photos/<%= housing_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @housing_photos, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
