<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Housing photo #<%= @housing_photo.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/housing_photos" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link housing_photo start -->
      <div class="col">
        <a href="/housing_photos/<%= @housing_photo.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit housing photo
        </a>
      </div>
      <!-- Edit link housing_photo end -->

      <!-- Delete link housing_photo start -->
      <div class="col">
        <a href="/delete_housing_photo/<%= @housing_photo.id %>" class="btn btn-block btn-outline-secondary">
          Delete housing photo
        </a>
      </div>
      <!-- Delete link housing_photo end -->
    </div>

    <dl>
      <dt>
        Photo caption
      </dt>
      <!-- Display photo_caption start -->
      <dd>
        <%= @housing_photo.photo_caption %>
      </dd>
      <!-- Display photo_caption end -->

      <dt>
        Photo owner
      </dt>
      <!-- Display photo_owner_id start -->
      <dd>
        <%= @housing_photo.photo_owner_id %>
      </dd>
      <!-- Display photo_owner_id end -->

      <dt>
        Housing
      </dt>
      <!-- Display housing_id start -->
      <dd>
        <%= @housing_photo.housing_id %>
      </dd>
      <!-- Display housing_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@housing_photo.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@housing_photo.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
