<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Booking #<%= @booking.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bookings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @booking.sublessee %>
          <a href="/bookings/<%= @booking.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit booking
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @booking.sublessee %>
          <a href="/delete_booking/<%= @booking.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete booking
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Sublessor
      </dt>
      <dd>
        <%= @booking.sublessor_id %>
      </dd>

      <dt>
        Sublessee
      </dt>
      <dd>
        <% if @booking.sublessee.present? %>
          <a href="/users/<%= @booking.sublessee_id %>">
            <%= @booking.sublessee.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Payment method
      </dt>
      <dd>
        <%= @booking.payment_method %>
      </dd>

      <dt>
        Housing
      </dt>
      <dd>
        <% if @booking.housing.present? %>
          <a href="/housing_listings/<%= @booking.housing_id %>">
            <%= @booking.housing.housing_type %>
          </a>
        <% end %>
      </dd>

      <dt>
        Booking details
      </dt>
      <dd>
        <%= @booking.booking_details %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@booking.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@booking.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

